#scratch {
	position: relative;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:600px;
	width:600px;
	padding: 0;
    border: none;
    margin-bottom: 30px;
}

.grid {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
}